# vscode and IDE generated folders
__pycache__
.idea
.vscode

# folder containing verdoliva weights. assuming it's contained in the repo, we avoid
# committing it, since it's quite big. Same thing for the checkpoint folder
weights
checkpoints

# ignoring other weights files and log files
*.pth
*.csv
*.log